$default-font: 'Roboto', sans-serif;

$c-lightest: #fff;
$c-darkest: #000;
$c-light-gray: rgba(45, 58, 64, 0.3);
$c-dark-gray: #748296;
$c-darker-gray: #2D3A40;
$c-gray: #f5f7fa;

$c-header-border: rgba(45, 58, 64, 0.1);